<nav class="navbar">
    <div class="nav-container">
        <a routerLink="/home" class="nav-logo">🎮 GameHub</a>
        <div class="nav-menu">
            <!-- <a routerLink="/home" class="nav-link">Home</a>
            <a routerLink="/quien-soy" class="nav-link">Quién Soy</a>
            <a routerLink="/login" class="nav-link">Login</a>
            <a routerLink="/registro" class="nav-link">Registro</a> -->

            <nav>
                <button class="nav-button" (click)="navigateTo('/home')">Home</button>
                <button class="nav-button" (click)="navigateTo('/quien-soy')">Quién Soy</button>
                <button class="nav-button" (click)="navigateTo('/login')">Login</button>
                <button class="nav-button" (click)="navigateTo('/registro')">Registro</button>
            </nav>
        </div>
    </div>
</nav>